<!DOCTYPE html>
<html>
<head>
        <!-- META -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- TITLE -->
        <title>Register Here to Organize Online Quiz Competition</title>
        
        <meta name="description" content="Strife is a powerful online test generator, that will automatically mark and calculate the result. Create and organize your online quiz, competition assesments for FREE. This website is absolutly free to organize online quiz competition. This is a online quiz creator. This tool is free online test creator for teachers, professors or anybody. You just need to register here!">
        <meta name="keywords" content="free online test maker, online quiz competition, online quiz creator, online quiz to earn money, online quiz website, quiz website, online quiz maker, free online quiz maker multiple choice, free online assessment creator, test creator, free online test maker for teachers, easy test maker, Online test generator, online quiz maker, flexiquiz, test generator, quiz maker, exam builder, online quiz software, timed quiz maker, multiple choice quiz maker, exam creator">
        <meta name="author" content="">
        {% load static %}
        <link rel="icon" type="image/png" href="{% static "images/icons/sicon.ico" %}"/>

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "styleour.css" %}">
        <!-- Main StyleSheet -->
        <link rel="stylesheet" href="{% static "fonts/material-icon/css/material-design-iconic-font.min.css" %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "style-responsive.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" type="text/css" />
        <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
        <link rel="stylesheet" href="{% static "css/libs/animate.css" %}">


        <!-- bxSlider CSS file -->
        <link href="{% static "css/jquery.bxslider.css" %}" rel="stylesheet" />


        <!-- LayerSlider stylesheet -->
        <link rel="stylesheet" href="{% static "layerslider/css/layerslider.css" %}" type="text/css">
        <!-- External libraries: jQuery & GreenSock -->
        <script src="{% static "layerslider/js/jquery.js" %}" type="text/javascript"></script>
        <script src="{% static "layerslider/js/greensock.js" %}" type="text/javascript"></script>
        <!-- LayerSlider script files -->
        <script src="{% static "layerslider/js/layerslider.transitions.js" %}" type="text/javascript"></script>
        <script src="{% static "layerslider/js/layerslider.kreaturamedia.jquery.js" %}" type="text/javascript"></script>

        <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>


        <!-- bxSlider Javascript file -->
        <script src="{% static "js/jquery.bxslider.js" %}"></script>
        <script>
        $(document).ready(function(){
        $('.bxslider').bxSlider({

                                pager: false,
                                controls: true,
                                auto: true


                                });
        });
        </script>



        <link rel="stylesheet" type="text/css" href="{% static "lightbox/jquery.fancybox.css" %}" media="screen" />
        <script src="{% static "lightbox/jquery.fancybox.js" %}"></script>
        <script type="text/javascript">
                $(document).ready(function() {

                    $('.fancybox').fancybox();

                });
        </script>


        <!-- GOTO TOP JQUERY -->
        <script type="text/javascript">
        $(function() {
            $(window).scroll(function() {
                if($(this).scrollTop() != 0) {
                    $('#gotop').fadeIn();
                } else {
                    $('#gotop').fadeOut();
                }
            });

            $('#gotop').click(function() {
                $('body,html').animate({scrollTop:0},800);
            });
        });
        </script>



        <!-- HEADER JQUERY -->
        <script type="text/javascript">
        $(function() {
            $(window).scroll(function() {
                if($(this).scrollTop() >= 200) {
                    $('.header').addClass("header_fix");
                } else {
                   $('.header').removeClass("header_fix");
                }
            });
        });
        </script>


        <script type="text/javascript">

        if($(window).width() <= 900){
        $(document).ready(function() {



                    $('.mobile .title').click(function() {

                                                $(this).next("ul").slideToggle();
                                                $(this).toggleClass("minus");

                                                });



                });

        }
        </script>

</head>
<body>
        <div class="header">
        <div class="container">

                    <a href="/strife/" class="logo"><img src="{% static "images/home.png" %}" alt="" /></a>

                    <div class="nav mobile">
                    <div class="title">Menu <span class="fa "></span></div>
                    <ul>
                    <li><a href="/strife/adminlogin/">BACK</a></li>
                    </ul>
                    </div>

        </div>
        </div>
        <div class="slider_main">
        <div id="full-slider-wrapper">
        <div id="layerslider" style="width:100%;height:473px;">


                                <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                                <img src="{% static "images/slider/slide-bg3.jpg" %}" class="ls-bg" alt="Slide background"/>



                                <!--<iframe src="http://player.vimeo.com/video/34134308?portrait=0&amp;color=ff9933&autoplay=1" width="443" height="290" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->


                                <div class="ls-l" style="top:140px;left:638px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <h2 class="l1">Get a Free Trial</h2>
                                </div>

                                <div class="ls-l" style="top:200px;left:583px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <h2 class="l2">Organize Your Own Online Quiz Competition for Free.</h2>
                                </div>



                                <div class="ls-l" style="top:265px;left:598px;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <a href="#pricing_part" class="button1">Learn More</a>
                                </div>


                                <div class="ls-l" style="top:265px;left:810px;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <a href="#register" class="button1">Sign Up Here</a>
                                </div>


                                </div>
        </div>
        </div>

        <div class="common_section" id="register">
        <div class="container">

                    <h2>Register for Admin Account</h2>
                    <h4>Sign Up here to organize a online quiz competition.</h4>


                    <br clear="all" />
                   <form method="POST" action="/strife/adminlogin/newadmin/saveadmin/" class="hpform">
                    All Fields are Compulsory.
                    <input type="text" name="name" placeholder="Institution/Organization Name" id="name" required>
                    <input type="text" name="admin" placeholder="Admin Name" id="admin" required>
                    <input type="text" name="adminpost" placeholder="Admin Designation" id="admin" required>
                    <input type="text" name="mobile" placeholder="Mobile Number" id="admin" required>
                    <input type="email" name="email" placeholder="Enter Email" id="email" required>
                    <p>By clicking on signup button you are accepting our <a href="/strife/about-us/">Privacy Policy</a>.</p>
                    <input type="submit" name="submit" id="submit" class="submit" value="Sign Up" />

                </form>



        </div>
        </div>
        <div class="pricing_table_section" id="pricing_part">
        <div class="container">

                    <h2>Subscribe to Us!</h2>
                    <h4></h4>


                    <div class="insider">


                    <div class="block">
                    <div class="head">
                    <h2>Free</h2>
                    <p>Free Subscription for<strong> 3 Months</strong></p>
                    </div>
                    <ul>
                    <li>Total Competitions <span>2</span></li>
                    <li>Automatic Result Management <span><img src="{% static "images/icons/i8.png" %}" alt="" /></span></li>
                    <li>Database Protection <span><img src="{% static "images/icons/i8.png" %}" alt="" /></span></li>
                    <li>Cloud Storage for Candidate Data <span><img src="{% static "images/icons/i8.png" %}" alt="" /></span></li>
                    <li>24/7 Customer Service <span><img src="{% static "images/icons/i8.png" %}" alt="" /></span></li>
                    <li><h5>Free for 3 Months</h5><a href="/strife/adminlogin/newadmin/" class="button5">Subscribe</a></li>
                    </ul>
                    </div>


                    <div class="block">
                    <div class="head">
                    <h2>Premium</h2>
                    <p>Get Premium for <strong>1 Year</strong></p>
                    </div>
                    <ul>
                    <li>Total Competitions <span>Unlimited</span></li>
                    <li>Automatic Result Management <span><img src="{% static "images/icons/i8.png" %}" alt="" /></span></li>
                    <li>Database Protection <span><img src="{% static "images/icons/i8.png" %}" alt="" /></span></li>
                    <li>Cloud Storage for Candidate Data <span><img src="{% static "images/icons/i8.png" %}" alt="" /></span></li>
                    <li>24/7 Customer Service <span><img src="{% static "images/icons/i8.png" %}" alt="" /></span></li>
                    <li><h5>Subscribe for 1 Year</h5><a href="/strife/premium/" class="button5">Subscribe</a></li>
                    </ul>
                    </div>


        </div>
        </div>
        <div class="common_section">
        <div class="container">


                    <a href="#" class="footer_logo"><img src="{% static "images/footer.png" %}" alt="" /></a>

                    <div class="copyright">Copyright 2019 -
                    <a href="http://www.strife.co.in/">www.strife.co.in</a>.<br><br>Please read our 
                    <a href="/about-us/">Privacy Policy</a>.</div>

        </div>
        </div>


        </div><!--wrapper-->


        <script>
            jQuery("#layerslider").layerSlider({
                responsive: false,
                responsiveUnder: 1100,
                layersContainer: 1100,
                skin: 'fullwidth',
                hoverPrevNext: false,
                skinsPath: 'layerslider/skins/'
            });


        </script>

        <script src="{% static "js/wow.js" %}"></script>
        <script>
        wow = new WOW(
          {
            animateClass: 'animated',
            offset:       100
          }
        );
        wow.init();
        document.getElementById('moar').onclick = function() {
          var section = document.createElement('section');
          section.className = 'section--purple wow fadeInDown';
          this.parentNode.insertBefore(section, this);
        };
        </script>

        <script type="text/javascript">
        $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
        $('html,body').animate({
        scrollTop: target.offset().top - 132
        }, 2000);
        return false;
        }
        }
        });
        });
        </script>


        <script type="text/javascript">


        $(document).ready(function() {

        if($(window).width() <= 1200){


        $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
        $('html,body').animate({
        scrollTop: target.offset().top - 132
        }, 2000);
        return false;
        }
        }
        });
        });



        }

        });


        </script>



{{ alert|safe }}

</body>
</html>