<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Original - Lifestyle Blog Template</title>
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" href="{% static "img/core-img/sicon.ico" %}">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "styleour.css" %}">

</head>

<body>
 <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="{% static "img/blog-img/aryan.jpg" %}" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            <a href="#" class="post-tag">Team Leader</a>
                            <h4><a class="post-headline">Aryan Kulshreshtha</a></h4>
                            <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="{% static "img/blog-img/sonali.jpg" %}" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            <a href="#" class="post-tag">Graphic Designer</a>
                            <h4><a class="post-headline">Sonali Kulshreshtha</a></h4>
                            <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="{% static "img/blog-img/aditya.jpg" %}" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            <a href="#" class="post-tag">Algorithms Designer</a>
                            <h4><a class="post-headline">Aditya Rathore</a></h4>
                            <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static "js/jquery/jquery-2.2.4.min.js" %}"></script>
    <!-- Popper js -->
    <script src="{% static "js/popper.min.js" %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static "js/bootstrap.minour.js" %}"></script>
    <!-- Plugins js -->
    <script src="{% static "js/plugins.js" %}"></script>
    <!-- Active js -->
    <script src="{% static "js/active.js" %}"></script>

</body>

</html>