<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <!-- META -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <!-- TITLE -->
        <title>Strife-QUIZ</title>
        {% load static %}
        <link rel="icon" type="image/png" href="{% static "images/icons/sicon.ico" %}"/>
        <!-- Main StyleSheet -->
        <link rel="stylesheet" href="{% static "fonts/material-icon/css/material-design-iconic-font.min.css" %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "style-responsive.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" type="text/css" />
        <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
        <link rel="stylesheet" href="{% static "css/libs/animate.css" %}">


		<!-- bxSlider CSS file -->
        <link href="{% static "css/jquery.bxslider.css" %}" rel="stylesheet" />


        <!-- LayerSlider stylesheet -->
        <link rel="stylesheet" href="{% static "layerslider/css/layerslider.css" %}" type="text/css">
        <!-- Stopwatch stylesheet -->
        <link rel="stylesheet" href="{% static "clock.css" %}" type="text/css">
        <!-- External libraries: jQuery & GreenSock -->
        <script src="{% static "layerslider/js/jquery.js" %}" type="text/javascript"></script>
        <script src="{% static "layerslider/js/greensock.js" %}" type="text/javascript"></script>
        <!-- LayerSlider script files -->
        <script src="{% static "layerslider/js/layerslider.transitions.js" %}" type="text/javascript"></script>
        <script src="{% static "layerslider/js/layerslider.kreaturamedia.jquery.js" %}" type="text/javascript"></script>
        
        <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
        

		<!-- bxSlider Javascript file -->
        <script src="{% static "js/jquery.bxslider.js" %}"></script>
        <script>
		$(document).ready(function(){
		$('.bxslider').bxSlider({
								
								pager: false,
								controls: true,
								auto: true
								
								
								});
		});
		</script>



		<link rel="stylesheet" type="text/css" href="{% static "lightbox/jquery.fancybox.css" %}" media="screen" />
		<script src="{% static "lightbox/jquery.fancybox.js" %}"></script>
        <script type="text/javascript">
                $(document).ready(function() {
                                           
                    $('.fancybox').fancybox();
 		
                });
        </script>


        <!-- GOTO TOP JQUERY -->
        <script type="text/javascript">
        $(function() {
            $(window).scroll(function() {
                if($(this).scrollTop() != 0) {
                    $('#gotop').fadeIn();	
                } else {
                    $('#gotop').fadeOut();
                }
            });
         
            $('#gotop').click(function() {
                $('body,html').animate({scrollTop:0},800);
            });	
        });
        </script>
            


		<!-- HEADER JQUERY -->
        <script type="text/javascript">
        $(function() {
            $(window).scroll(function() {
                if($(this).scrollTop() >= 200) {
                    $('.header').addClass("header_fix");	
                } else {
                   $('.header').removeClass("header_fix");
                }
            });	
        });
        </script>
        
        
        <script type="text/javascript">
        
		if($(window).width() <= 900){
		$(document).ready(function() {
                                    
									
									
                    $('.mobile .title').click(function() {
												
												$(this).next("ul").slideToggle();
												$(this).toggleClass("minus");
												
												});
					
					
 		
                });
		
		}
        </script>
                            
</head>

<body>
        
        
    
        <div class="header">
        <div class="container">
        
        			<a href="/strife/" class="logo"><img src="{% static "images/home.png" %}" alt="" /></a>
                    
                    <div class="nav mobile">
                    <div class="title">Menu <span class="fa "></span></div>
                    
                    <ul>
                    <!--Stopwatch Code-->
        <li><div class="con">
            <div class="timer">
                <div class="cell">
            <div class="numbers tenhour moveten">0 1 2 3 4 5 6 7 8 9</div>
        </div>
        <div class="cell">
            <div class="numbers hour moveten">0 1 2 3 4 5 6 7 8 9</div>
        </div>
        <div class="cell divider"><div class="numbers">:</div></div>
        <div class="cell">
            <div class="numbers tenminute movesix">0 1 2 3 4 5 6</div>
        </div>
        <div class="cell">
            <div class="numbers minute moveten">0 1 2 3 4 5 6 7 8 9</div>
        </div>
        <div class="cell divider"><div class="numbers">:</div></div>
        <div class="cell">
            <div class="numbers tensecond movesix">0 1 2 3 4 5 6</div>
        </div>
        <div class="cell">
            <div class="numbers second moveten">0 1 2 3 4 5 6 7 8 9</div>
        </div>
        <div class="cell divider"><div class="numbers">:</div></div>
        <div class="cell">
            <div class="numbers milisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
        </div>
        <div class="cell">
            <div class="numbers tenmilisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
        </div>
        <div class="cell">
            <div class="numbers hundredmilisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
        </div>
            </div>
        </div></li>
        <li><a href="#" onclick="setTimeout(function() {
        window.close();})">QUIT</a></li>
                    </ul>
                    </div>
        
        </div>
        </div>

        <div class="feature_section">
        <div class="container">
        
                        
                        <div class="leftside">
                        <img src="{% static "images/thumbs/t1.png" %}" alt=""  class="wow bounceInLeft animated" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="0.2s" />
                        </div>
                        
                        
                        <div class="rightside">
                        <h2>Candidate Profile</h2>
                        
                    <div class="form-textbox">
                        Roll Number:<br>&nbsp&nbsp&nbsp&nbsp{{ roll|safe }}
                    </div>
                    <div class="form-textbox">
                        <br>Candidate Name:<br>&nbsp&nbsp&nbsp&nbsp{{ name|safe }}
                    </div>
                    <div class="form-textbox">
                        <br>Candidate Email:<br>&nbsp&nbsp&nbsp&nbsp{{ email|safe }}
                    </div>
                    <div class="form-textbox">
                        <br>Competition Registered For:<br>&nbsp&nbsp&nbsp&nbsp{{ comp|safe }}
                    </div>
                    <div class="form-textbox">
                        <br>Course:<br>&nbsp&nbsp&nbsp&nbsp{{ course|safe }}
                    </div>
                    <div class="form-textbox">
                        <br>Branch/Field Of Study:<br>&nbsp&nbsp&nbsp&nbsp{{ branch|safe }}
                    </div>
                </div>
             </div>
          </div>
        <div class="common_section" id="register">
        <div class="container">
        
                    <h2>QUIZ HERE</h2>
                    <h4>Best of Luck!</h4>
                    
                   
                    <br clear="all" />
                    
                    
                    <form method="POST" class="hpform" action="/strife/startquiz/checkcandidate/generateresult/">
                    {% for tag in send %}
                    <input type="text" name="{{ tag.ques }}" id="quesid" value="{{ tag.Ques_No }}" readonly>
                    <label for="agree-term" class="label-agree-term">{{ tag.Ques }}
                    </label><br>
                    <input type="radio" name="{{ tag.option }}" id="option" class="agree-term" value="A">
                    <label for="option" class="label-agree-term"><span><span>{{ tag.A }}</span></span>
                    </label><br>
                    <input type="radio" name="{{ tag.option }}" id="option" class="agree-term" value="B">
                    <label for="option" class="label-agree-term"><span><span>{{ tag.B }}</span></span>
                    </label><br>
                    <input type="radio" name="{{ tag.option }}" id="option" class="agree-term" value="C">
                    <label for="option" class="label-agree-term"><span><span>{{ tag.C }}</span></span>
                    </label><br>
                    <input type="radio" name="{{ tag.option }}" id="option" class="agree-term" value="D">
                    <label for="option" class="label-agree-term"><span><span>{{ tag.D }}</span></span>
                    </label><br><br>
                    {% endfor %}
                    <br><input type="submit" name="submit" id="submit" class="submit" value="Submit" />
                    </form>
                    
                   
                    
        
        </div>
        </div>
        
        <div class="common_section">
        <div class="container">
        
        	
            		<a href="#" class="footer_logo"><img src="images/logo.png" alt="" /></a>
                   
					<div class="copyright">Copyright 2016 All Right Reserved -
                    <a href="#">www.strife.com</a>.</div>                    
        
        </div>
        </div>
        
        
        </div><!--wrapper-->


		<script>
            jQuery("#layerslider").layerSlider({
                responsive: false,
                responsiveUnder: 1100,
                layersContainer: 1100,
                skin: 'fullwidth',
                hoverPrevNext: false,
                skinsPath: 'layerslider/skins/'
            });
        
        
        </script>

		<script src="{% static "js/wow.js" %}"></script>
        <script>
        wow = new WOW(
          {
            animateClass: 'animated',
            offset:       100
          }
        );
        wow.init();
        document.getElementById('moar').onclick = function() {
          var section = document.createElement('section');
          section.className = 'section--purple wow fadeInDown';
          this.parentNode.insertBefore(section, this);
        };
        </script>

		<script type="text/javascript">
		$(function() {
		$('a[href*=#]:not([href=#])').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		var target = $(this.hash);
		target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		if (target.length) {
		$('html,body').animate({
		scrollTop: target.offset().top - 132
		}, 2000);
		return false;
		}
		}
		});
		});
        </script>
        
        
		<script type="text/javascript">
        
        
        $(document).ready(function() {
        
        if($(window).width() <= 1200){
        
        
        $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
        $('html,body').animate({
        scrollTop: target.offset().top - 132
        }, 2000);
        return false;
        }
        }
        });
        });
        
        
        
        }
        
        });
        
        
        </script> 
             

<script type="text/javascript">
    setTimeout(function() {
        window.close();
    }, {{ time|safe }});
</script>		
</body>
</html>
