<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strife-Admin Login</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static "images/icons/sicon.ico" %}"/>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static "fonts/material-icon/css/material-design-iconic-font.min.css" %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="sign-up-content">
                <h2 class="form-title">Sent Successfully!</h2>
                    <a href="/strife/adminlogin/backlogin/" class="loginhere-link">Back</a>
                </p>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
<script type="text/javascript">
if (typeof(Storage)!=="undefined") {
    localStorage.setItem("Email", document.getElementById("name").value);
};
</script>
</body>
</html>